{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class=navbar-brand href="{% url 'system_home' %}">Device Manager</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Register Device
        </button>
    </nav>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Device Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div  class="modal-body">
              <form action="{% url 'device_register'%}" method="POST" enctype="multipart/form-data"> {% csrf_token%}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" class="btn btn-success" value="Register">
            </form>
            </div>
          </div>
        </div>
    </div>

    {% for book in books %}
    <div class="row">
        <div class="col-md">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if book.img %}
                        <img width="100%" src="{{book.img.url}}" alt="">
                    {% endif %}
                    <h5 class="card-title">{{book.name}}</h5>
                    Borrowed: 
                    {% if book.borrowed %}                        
                        <svg style="color:green; display:inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                        </svg>
                    {% else %}
                        <svg style="color:red; display:inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                      </svg>
                    {% endif %}
                    <br>
                    <br>
                    <a href="{% url 'book_info' book.id %}" target="_blank" class="btn btn-info">More</a>

                </div>
            </div>
            
        </div>   
    {% endfor %}
    </div>

    <script src="{% static 'javascript/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
</body>
</html>